.wrap {
    @include wrap;
}
.row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: calc(var(--gutter)*-.5);
    margin-right: calc(var(--gutter)*-.5);
}
.col {
    margin-left: calc(var(--gutter)*.5);
    margin-right: calc(var(--gutter)*.5);
}

@each $grid-name, $mq-breakpoint in $grid-names {
    @if $mq-breakpoint == default {
        @for $i from 1 through $columns {
            .#{$grid-name}-#{$i} {
                @include column($i);
            }
        }
    } @else {
        @media(min-width:map-get($mq-breakpoints,  $mq-breakpoint)) {
            @for $i from 1 through $columns {
                .#{$grid-name}-#{$i} {
                    @include column($i);
                }
            }
        }
    }
}