.push-bottom {
    margin-bottom: var(--baseline);
}
.push-bottom--half {
    margin-bottom: calc(var(--baseline)/2);
}
.push-bottom--double {
    margin-bottom: calc(var(--baseline)*2);
}
.soft-top {
    padding-top: var(--baseline);
}