@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Regular"),
         local(".HelveticaNeueDeskInterface"),
         local("Ubuntu"),
         local("Segoe UI"),
         local("Lucida Grande"),
         local("Roboto"),
         local("DroidSans");
}
body,
button,
input,
select,
textarea {
    font-size: 100%;
    line-height:1.5;
    font-family: system, sans-serif;
    color: var(--off-black);
}
a {
    color: var(--off-black);
}
p a,
ul a {
    text-decoration: underline;
}

input,
select,
textarea {
    font-size: .99rem;
    line-height: 1rem;
}

p,
ul {
    max-width: 42rem;
}

.plus-2 {
    font-size: var(--font-size-plus-2);
}
.plus-1 {
    font-size: var(--font-size-plus-1);
}
.baseline {
    font-size: var(--font-size-baseline);
}
.minus-1 {
    font-size: var(--font-size-minus-1);
}
.minus-2 {
    font-size: var(--font-size-minus-2);
}

.bold {
    font-weight: var(--bold-weight);
}
.semibold {
    font-weight: var(--semibold-weight);
}
.medium {
    font-weight: var(--medium-weight);
}
.light {
    font-weight: var(--light-weight);
}

.align-right {
    max-width: none;
    text-align: right;
}

.visuallyhidden {
    @include visuallyhidden;
}