.example {
    width: 100%;
    height: 350px;
    height: var(--height);

    &__main {
        padding: 24px;

        h1 {
            font-size: x-large;
            margin-bottom: 24px;
        }

        p {
            margin-bottom: 24px;
        }
    }

    &-body{
        background-color: white;
    }
}

html { 
    overflow-y: scroll;
}

html:has(.example-body) {
    background-color: white;
}
