.expandable-section {
    &:not(:first-of-type) {
        border-top: 1px solid var(--light-grey-3);
    }
}
.expand-all .expandable-section:first-of-type {
    border-top: 1px solid var(--light-grey-3);
}
.expandable-section__btn {
    position: relative;
    width: 100%;
    padding: calc(var(--baseline)/2) calc(var(--gutter)/2);
    background-color: transparent;
    font-size: var(--font-size-plus-1);
    font-weight: var(--medium-weight);
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            right: var(--gutter);
            width: 20px;
            height: 2px;
            background-color: var(--off-black);
        }
        &:after {
            transform: rotate(90deg);
        }
        &:focus {
            outline: 1px solid var(--highlight);
        }
}
.expandable-section__bd {
    display: none;
}
.expandable-section__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.expandable-section__icon {
    display: block;
    fill: var(--off-black);
}
.is--active {
    &> .expandable-section__bd {
        display: block;
        padding: 0 calc(var(--gutter)/2) var(--baseline) calc(var(--gutter)/2);
    }
    .expandable-section__btn:after {
        display: none;
    }
}

.expandable-section__btn-all {
    margin-bottom: var(--baseline);
    background: none;
    font-size: var(--font-size-plus-1);
    font-weight: 500;
    position: relative;
    padding-left: calc(var(--gutter)*1.25);
    display: flex;
    align-items: center;
    
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 20px;
            height: 2px;
            background-color: var(--off-black);
        }
        &:after {
            transform: rotate(90deg);
        }

    // &:before {
    //     content: "";
    //     display: inline-block;
    //     position: relative;
    //     top: 2px;
    //     width: 19px;
    //     margin-right: calc(var(--baseline)/2);
    //     aspect-ratio: 1;
    //     background: conic-gradient(from 90deg at 2px 2px, #0000 90deg,#000 0) calc(100% + 1px) calc(100% + 1px) / calc(50%  + 2px) calc(50%  + 2px);
    // }

    &.is--open {
        &:after {
            display: none;
        }
        // &:before {
        //     top: 9px;
        //     background: conic-gradient(from 90deg at 0px 3px, rgba(0, 0, 0, 0) 90deg, #000 0) calc(100% + 1px) calc(100% + 1px)
        // }
    }
}

.is--open .expandable-section__btn-all-view, .expandable-section__btn-all-hide {
    display: none;
}

.is--open .expandable-section__btn-all-hide {
    display: inline;
}