.expandable-search__header {
    padding: var(--baseline) var(--gutter);
    background-color: var(--off-black);
    height: 95px;
}
.expandable-search__header {
    display: flex;
    justify-content: flex-end;
}

.expandable-search__btn {
    display: flex;
    background-color: transparent;
    font-weight: var(--medium-weight);
    padding: calc(var(--baseline)/2) calc(var(--gutter)/3);
    color: white;
        &:focus {
            outline: 1px solid var(--highlight);
        }
}
.expandable-search__btn-icon {
    margin-right: calc(var(--gutter)/6);
    display: block;
    fill: white ;
}

.expandable-search__container {
}
.expandable-search__form {
    display: none;
}
.expandable-search__label {
    @include visuallyhidden;
}
.expandable-search__input {
    width:100%;
    display: block;
    padding: 0 calc(var(--gutter)/2);
    // background-color: rgba(255,255,255,.1);
    border: 1px solid var(--light-grey-3);
    appearance: none;
    -moz-appearance: textfield;
    height:40px;
    line-height:36px;
    min-width: 250px;
    border-radius: 0;
    color: var(--off-black);
        &:focus {
            outline: 0 none;
            border: 1px solid var(--off-black);
            box-shadow: 0 0 0 1px var(--highlight);;
        }
}

.expandable-search__submit {
    background-color: transparent;
    color: white;
    padding: 0 6px;
    border-radius: 0;
    min-width: 70px;
    margin-left:1px;
        &:focus {
            outline: 0 none;
            border: 1px solid var(--highlight);;
            border-radius: 0;
        }
}
.on--expandable-search {
    .expandable-search {
        display: block;
        position: fixed;
        max-width: none;
        top: 95px;
        right: 0;
        left: 0;
        background-color: var(--off-black);
        padding: calc(var(--baseline)/2) calc(var(--gutter)/2);
        border-top: 1px solid var(--dark-grey-3);
    }
    .expandable-search__form {
        display: block;
        display: flex;
        max-width: 500px;
        margin: 0 auto;
    }
}