.list {
    list-style: disc outside;
    margin-left: 1rem;
}
.list--tick {
    list-style-type: '\2713\0020\0020';
    margin-left: 1.25rem;
}
.list-item {
    margin-bottom: calc(var(--baseline)/4);
}