.modal-confirmation__btn {
    display: inline-block;
    padding: calc(var(--baseline)/2) var(--gutter);
    background-color: var(--light-grey-2);
    border: 1px solid var(--off-black);
    color: var(--off-black);
    margin:2px;
        &:hover,
        &:focus {
            transition: background-color 120ms ease;
            background-color: white;
        }
}
.modal-confirmation {
    color: var(--off-black);
}
.modal-confirmation__title {
    font-size: var(--font-size-plus-1);
}
.modal-confirmation__row {
    padding-top: var(--baseline)
}
.modal-confirmation__form {
    flex-direction: column;
}
.modal-confirmation__cancel,
.modal-confirmation__confirm {
    display: inline-block;
    padding: calc(var(--baseline)/2) var(--gutter);
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--off-black);
}
.modal-confirmation__confirm {
    border: 1px solid var(--off-black);
    background-color: var(--light-grey-2);
        &:hover{
            transition: background-color 120ms ease;
            background-color: var(--off-black);
            color: white;
        }

        &:focus{
            outline: 4px solid var(--highlight);
        }
}
.modal-confirmation__cancel {
    margin-left: calc(var(--gutter)/2);
}