.off-canvas-nav__container {
    background-color: var(--off-black);
}

.off-canvas-nav__nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.off-canvas-nav__btn {
    display: flex;
    background-color: transparent;
    font-weight: var(--medium-weight);
    margin: 0 var(--gutter);
    padding: var(--baseline) 0;
    color: white;
        &:focus {
            outline: 1px solid var(--highlight);
        }
}
.off-canvas-nav__btn-icon {
    margin-right: calc(var(--gutter)/6);
    display: block;
    fill: white;
}
.off-canvas-nav__list {
    display: none;
}
.off-canvas-nav__item {
    display: block;
        &:first-child {
            border-top: 1px solid var(--dark-grey-3);
        }
}
.off-canvas-nav__link {
    display: block;
    color: white;
    background-color: var(--off-black);
    padding: calc(var(--baseline)/2) var(--gutter);
    border: 1px solid transparent;
    border-bottom: 1px solid var(--dark-grey-3);
    transition: background-color 120ms ease;
    text-decoration: none;
        &.is--active {
            background-color: var(--dark-grey-3);
        }
        &:focus {
            border: 1px solid var(--highlight);
            outline: 0 none;
        }
        &:hover {
            background-color: var(--dark-grey-2);
        }
}
.off-canvas-nav__close {
    display: none;
}

.on--off-canvas-nav {
    .off-canvas-nav__list {
        display: block;
        max-width: none;
        flex: 1 1 100%;
        align-self: stretch;
        background-color: white;
    }

    .off-canvas-nav__close {
        display: block;
        position: absolute;
        top: calc(var(--baseline)/2);
        right: calc(var(--gutter)/2);
        background-color: transparent;
            &:focus {
                outline-color: var(--highlight);
            }
    }
    .off-canvas-nav__close-icon {
        display: block;
    }
}