.off-canvas-nav__container {
    padding: var(--baseline) var(--gutter);
    // background-color: var(--off-black);
    border-bottom: 1px solid var(--light-grey-3);
    height: 95px;
}
.off-canvas-nav {
    display: flex;
    justify-content: flex-end;
}
.off-canvas-nav__btn {
    display: flex;
    background-color: transparent;
    font-weight: var(--medium-weight);
    padding: calc(var(--baseline)/2) calc(var(--gutter)/3);
    color: var(--off-black);
        &:focus {
            outline: 1px solid var(--off-black);
        }
}
.off-canvas-nav__btn-icon {
    margin-right: calc(var(--gutter)/6);
    display: block;
    fill: var(--off-black);
}
.off-canvas-nav__list {
    display: none;
}
.off-canvas-nav__item {
    display: block;
    border-bottom: 1px solid var(--light-grey-3);
        // &:first-child {
        //     border-top: 1px solid var(--dark-grey-3);
        // }
}
.off-canvas-nav__link {
    display: block;
    color: var(--off-black);
    padding: calc(var(--baseline)/2) var(--gutter);
    border: 1px solid transparent;
    transition: background-color 120ms ease;
    text-decoration: none;
        &.is--active {
            background-color: var(--light-grey-1);
        }
        &:focus {
            border: 1px solid var(--off-black);
        }
        &:hover {
            background-color: var(--light-grey-2);
        }
}
.off-canvas-nav__close {
    display: none;
}

.on--off-canvas-nav {
    .off-canvas-nav__list {
        display: block;
        position: fixed;
        max-width: none;
        top: 95px;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: white;
    }
    .off-canvas-nav__close {
        display: block;
        position: absolute;
        top: calc(var(--baseline)/2);
        right: calc(var(--gutter)/2);
        background-color: transparent;
            &:focus {
                outline-color: var(--off-black);
            }
    }
    .off-canvas-nav__close-icon {
        display: block;
    }
}