.show-more {
    padding-bottom: var(--baseline);

    > * {
        margin-bottom: calc(var(--baseline)/2);
    }

    &__heading {
        font-size: var(--font-size-plus-2);
        font-weight: 600;
        margin-bottom: var(--baseline);
    }

    &__btn, &__btn--hide {
        line-height: 44px;      
    }

    &__bd, &__btn--hide, &.is--active &__btn {
        display: none;
    }

    &__bd {
        opacity: 0;
    }

    &.is--active &__bd,  &.is--active &__btn--hide {
        display: block;
        animation-name: fadein;
        animation-duration: 0.75s;
        animation-fill-mode: forwards; 
    }
}

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }