.status {
    display: inline-block;
    line-height: 1;
    font-size: var(--font-size-minus-2);
    padding: calc(var(--baseline)/8) calc(var(--gutter)/4) calc(var(--baseline)/6) calc(var(--gutter)/4);
    min-width: 90px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 8px;
    color: var(--off-black);
    
}
.status--development {
    background-color: var(--light-grey-2);
    color: var(--dark-grey-3);
}
.status--release {
    background-color: var(--highlight);
}
.status--depreciated {
    background-color: var(--off-black);
    color:white;
}
.tr:hover,
.tr:focus {
    .status {
        background-color: white;
    }
}