.tabs {
    margin: var(--baseline) var(--gutter);
}

.tabs__tabslist {
    display: flex;
    max-width: none;
    border-bottom: 1px solid var(--light-grey-3);
}

.tabs__tab {
    text-decoration: none;
    display: block;
    padding: var(--baseline) var(--gutter);
    position: relative;

    &:focus {
        box-shadow: 0 0 0 1px var(--highlight);
        outline: 0 none;
    }

    &.is--active:after {
        content: '';
        position: absolute;
        height: 1px;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--off-black);
    }
}

.tabs__tabpanel {
    padding: calc(var(--baseline)) calc(var(--gutter))
}

// windows high contrast support 

@media screen and (forced-colors: active) {

    //adds a visible outline when focusing on tabs in Tabs component

    .tabs__tab {

        &:focus {
            outline: 1px solid transparent;
        }

        &.is--active:after {
            background-color: CanvasText;
        }
    }
}