{
    "presets": [
      [
        "@babel/preset-env",
        {
          "modules": "commonjs",
          "targets": {
            "node": 8,
            }
        }
      ]
    ],
    "plugins": [
        ["@babel/plugin-transform-react-jsx", {
            "pragma": "h"
        }]
      ]
  }