:root {
    --font-family-default: sans-serif;
    
    --font-size-plus-3: 2rem;
    --font-size-plus-2: 1.4rem;
    --font-size-plus-1: 1.2rem;
    --font-size-baseline: 1rem;
    --font-size-minus-1: 0.85rem;
    --font-size-minus-2: .75rem;

    --baseline: 1.5rem;
    --gutter: 24px;
    --max-container-width: 1200px;
    
    --light-grey-1: hsl(0, 0%, 96%);
    --light-grey-2: hsl(0, 0%, 90%);
    --light-grey-3: hsl(0, 0%, 80%);
    --mid-grey-1: hsl(0, 0%, 70%);
    --mid-grey-2: hsl(0, 0%, 60%);
    --mid-grey-3: hsl(0, 0%, 50%);
    --dark-grey-1: hsl(0, 0%, 46%); //lightest AA accessible grey on white
    --dark-grey-2: hsl(0, 0%, 30%);
    --dark-grey-3: hsl(0, 0%, 20%);
    --off-black: hsl(0, 0%, 9%);
    --red: hsl(0, 25%, 57%);

    --light-weight: 300;
    --regular-weight: 400;
    --medium-weight: 500;
    --semibold-weight: 600;
    --bold-weight: 700;

    --highlight: hsl(182, 68%, 49%);

    --measure: 40em;
    
    --bp-xs: 480px;
    --bp-sm: 768px;
    --bp-md: 1024px;
    --bp-lg: 1200px;
}

$columns: 12;

$mq-breakpoints: (
    xs: 480px,
    sm: 768px,
    md: 1024px,
    lg: 1200px
);

// conversion table from mq-breakpoints and grid classNames
$grid-names: (
    xs: default,
    sm: sm,
    md: md,
    lg: lg
);



